* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	width: 100%;
	min-width: 960px;
	color: white;
	font-family: 'Lusitana', serif;
}
div#wrapper {
	position: relative;
	width: 960px;
	min-width: 960px;
	height: 1000px;
	margin: 0 auto;
	text-align: center;
}
#wrapper header {
	font-family: 'Nosifer', cursive;
	font-size: 2em;
	margin: 15px auto;
	color: white;
	-webkit-animation: header 2.5s forwards;
	-moz-animation: header 2.5s forwards;
	-o-animation: header 2.5s forwards;
	animation: header 2.5s forwards;
}

nav#mainNav {
	width: 496px;
	margin: 0px auto;
	margin-left: 242px;
	color: white;
	font-size: 1.2em;
	padding-bottom: 75px;
	-webkit-animation: nav 1s linear 1s 1 backwards;
	-moz-animation: nav 1s linear 1s 1 backwards;
	-o-animation: nav 1s linear 1s 1 backwards;
	animation: nav 1s linear 1s 1 backwards;
}
@-webkit-keyframes nav {
	from{opacity: 0;}
	to{opacity: 1;}
}
@-moz-keyframes nav {
	from{opacity: 0;}
	to{opacity: 1;}
}
@-o-keyframes nav {
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes nav {
	from{opacity: 0;}
	to{opacity: 1;}
}
#mainNav ul{
	display: block;
	list-style: none;
	
}
#mainNav li  {
	float: left;
	
	margin-right: 20px;
	height: 50px;
	text-align: center;
	font-family: 'Nosifer', cursive;
}


#mainNav li:first-letter  {
	border: 3px solid #443C72;
	border-radius: 500px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-family: 'Nosifer', cursive;
}
#mainNav a {
	text-decoration: none;
	color: white;
	
}
#mainNav a:hover {
	color: #443C72;
}
div#content {
	width: 830px;
	margin: 0 auto;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	
}
#content h1 {
	margin: 0 0 15px 115px;
}
div#bigPic {
	height: 325px;
	width: 500px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	
}
div#photos {
	text-align: center;
	width: 500px;
	
}
#photos img {
	padding: 5px;
}
#content aside {
	float: right;
	width: 260px;
	margin: 100px 0px 0 0;
	
}
#content aside a {
	text-decoration:none;
	color: white;
	font-size: 2em;
}
#content aside a:hover {
	text-decoration:none;
	color: #443C72;
}
#content aside ul {
	list-style-position: inside;
	list-style-type: square;
}


@-webkit-keyframes header {
	from{opacity: 0;}
	to{opacity: 1;}
}
@-moz-keyframes header {
	from{opacity: 0;}
	to{opacity: 1;}
}
@-o-keyframes header {
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes header {
	from{opacity: 0;}
	to{opacity: 1;}
}